@keyframes heartbeat {                                  /* директива для указания "ключевых кадров" анимации с названием "heartbeat" (сердцебиение) */
    from {                                              /* ключевой кадр "изначально" */
        transform: scale(1);                            /* значение scale - масштаб */
    }
    50% {                                               /* ключевой кадр "в середине" */
        transform: scale(1.4);
    }
    to {                                                /* ключевой кадр "в конце" */ 
        transform: scale(1);
    }
}