@media (max-width: 991px) {
	.container {
		width: 720px;													/* для корректной адаптации меняю ширину контейнера под пороговые разрешения экранов  */
	}	
	.promo {
		background-position: 40% 0;						/* изменяю позиционирование фона секции, для адекватного отображения */
	}	
	.advantages {
		&__item {
			min-width: 210px;
			font-size: 12px;
		}
	}
	.title {
		&_left {
			font-size: 30px;
		}
	}
	.carousel {
		&__inner {
			width: 90%;									/* ширина слайдера на экранах шириной до 991px равно 90% ширины родителя */
			img {
				width: 100%;
			}
		}
	}
	.footer {
		&__info {
			padding: 15px;
			width: 300px;
			height: 150px;
		}
		&__addr {
			font-size: 15px;
		}
		&__phone {
			margin-top: 10px;
			font-size: 15px;
		}
		&__social {
			margin-top: 20px;  
		}
	}
}
@media (max-width: 767px) {
	.container {
		width: 540px;
	}	
	.header {
		&__official {
			&_disabled {
				display: none;										/* отключаю отображение данного элемента на данных разрешениях экранов путем добавления модификатора */
			}
		}
	}
	.button {
		&:hover {										   /* отменяем эффект наведения на кнопку в моб. версии */
			background: $main-color;
			font-weight: 500;
		}
	}
	.promo {
		background-position: 30% 0;						/* изменяю позиционирование фона секции, для адекватного отображения */
		&__header {
			font-size: 25px;
		}
		&__subheader {
			font-size: 16px;
		}
		&__icons {
			width: 320px;
			align-items: center;
		}
		&__icon {
			font-size: 12px;
		}
	}
	.advantages {
		&__wrapper {
			flex-direction: column;							/* вертикальное отображение дочерних элементов */
			align-items: center;
		}
		&__item {
			margin-bottom: 50px;
		}
	}
	.title {
		&_left {
			font-size: 25px;
		}
	}
	.consultation {
		&__descr {
			font-size: 15px;
		}
	}
	.feed-form {											
		width: 250px;
	}
	.catalog {
		&__tabs {
			width: 100%;
			flex-wrap: wrap;							 /* перенос табов при необходимости возможен на другую строку */
		}
		&__tab {
			margin: 5px 5px;
			&:hover {
				box-shadow: none;						 /* отключаем тень табов при наведении */
			}
		}
	}
	.footer {
		&__social {
			&-item {
				&:hover {
					width: 53px;
					height: 52px;
					background-color: $main-color;
				}
			}
		}
	}
	.modal {
		&__close {
			&:hover {									 /* отключаем эффект наведения на крестик */
				font-size: 40px;
				color: $main-color;
			}
		}
	}
}
@media (max-width: 575px) {
	.container {
		width: 100%;
	}	
	.header {
		flex-direction: column;							  /* вертикальное отображение дочерних элементов хедера */	
		align-items: center;
		&__logo {
			width: 150px;
		}
		&__contacts {
			align-items: center;
		}
		&__phone {
			margin-top: 10px;
			font-size: 10px;
		}
	}
	.button {
		&_mobile {														/* изменяем параметры кнопки, задав ей модификатор */
			margin-top: 10px;
			width: 35vw;
			height: 22px;
			font-size: 10px;
		}
		&_main {															/* изменяем параметры "главной" кнопки, задав ей модификатор */
			width: 80vw;
		}
	}		
	.promo {
		&__wrapper {             
    	align-items: center;  
		}
		&__header {
			font-size: 20px;
		}
		&__subheader {
			margin-top: 5px;
			font-size: 12px;
		}
		&__icons {
			flex-direction: column;
		}
		&__icon {
			width: 100%;
			font-size: 15px;
			text-decoration: underline;
			img {																
				display: none;										/* отключаем изображения иконок у данных элементов */
			}
		}
		&__link {
			font-size: 12px;
			a {
				padding: 10px;										/* т.к. ссылка мелкая и попасть по ней пальцем трудно */
			}
		}
	}	
	.advantages {
		&__item {
			max-width: 200px;
		}
	}
	.title {
		&_mobile {														/* изменим размер с помощью модификатора */
			font-size: 23px;
		}
		&_left {
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: center;
			span{														/* "отключаем посл. часть заголовка */
				display: none;
			}
		}
	}
	.consultation {
		padding-left: 5vw;
		padding-right: 5vw;
		&__descr {
			margin-top: 10px;
			font-size: 12px;
			line-height: 12px;
			text-align: center;
		}
	}	
	.feed-form {
		&_mobile {
			margin: 36px auto 0 auto;									/* установим в моб. версии горизонтальное положение формы - по центру */
		}
	}
	.carousel {
		&__inner {
			width: inherit;												/* ширина слайдера в моб. версии унаследует значение родителя (100%) */
		}
	}
	.catalog {
		&__tab {														/* изменим размеры табов: */
			width: 150px;
			height: 30px;
			font-size: 12px;
			line-height: 28px;
		}
		&__content {
			position: relative;
		}
	}
	.reviews {
		&-item {
			flex-direction: column;
			align-items: center;
			&__photo {
				margin-right: 0;
				margin-bottom: 30px;
			}
			&__text {
				width: 70vw;
			}	
			&__name {
				text-align: center;
			}
			&__stage {
				text-align: center;
			}
			&__descr {
				font-size: 14px;
				text-align: center;
				padding-right: 0;
			}
		}	
	}
	.modal {
		&_mobile {															/* адаптируем модальные окна с помощью модификатора */
			width: 80vw;
			padding: 15px 0;
		}
		&__close {
			right: -25px;
		}
	}
}