.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/bg_consultation.jpg) center (center/cover) no-repeat;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: $white;
    }
    .error {                                                /* этот класс содержит предупреждение, которое появляется при ошибке заполнения формы (использ. JqueryValidationPlagin) нашёл его через консоль */
        margin-bottom: 15px;
        text-align: center;
        border: 1px solid $main-color;
        color: grey;
    }
    label.error {                                           /* используем такую вложенность, чтобы отключить обводку самого предупреждения (текста) */
        border: none;
    }
}