.overlay {                                                  /* "затемнение" заднего фона. Нужно при появлении модальных окон */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.56);
    display: none;                                          /* отключаем затемнение фона, подключать его будем с помощью js-кода в нужный момент */
}
.modal {
    position: absolute;                                     /* можно позиционировать даже с родительским fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);                       /* отступ вниз и вправо "на пол-корпуса" */
    padding: 38px 40px 40px 40px;
    width: 380px;
    min-height: 400px;
    background-color: #F2F2F2;;
    &:first-child {
        height: 143px;
    }
    &__close {                                              /* т.к. крестик - текстовый символ, мы можем задавать ему размер шрифта и жирность */
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 40px;
        line-height: 21px;
        font-weight: 700;
        color: $main-color;
        transition: 0.3s all;
        cursor: pointer;
        &:hover {
            font-size: 55px;
            color: black;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    &_mini {
        min-height: 140px;
    }
    .error {                                                /* этот класс содержит предупреждение, которое появляется при ошибке заполнения формы (использ. JqueryValidationPlagin) нашёл его через консоль */
        margin-bottom: 15px;
        text-align: center;
        border: 1px solid $main-color;
    }
    label.error {                                           /* используем такую вложенность, чтобы отключить обводку самого предупреждения (текста) */
        border: none;
    }
}
#consultation, #order, #thanks {                            /* отключаем наши модальные окна по id, подключать их будем с помощью js-кода в нужный момент */
    display: none;
}